/* >576px styles */

@media screen and (min-width: 576px) {
  #skills .skill {
    float: left;
    width: 50%;
    text-align: center;
  }

  #products .product {
    float: left;
    width: 45%;
    margin: 0 1rem;
  }

  #services .service-card {
    float: left;
    width: 45%;
    margin: 0 1rem;
  }
}

/* >768px styles */
@media screen and (min-width: 768px) {
  #navbar {
    width: 30vw;
  }
  #skills .skill {
    float: left;
    width: 25%;
    text-align: center;
  }

  #about .about-img-container {
    float: left;
    width: 50%;
  }

  #about .about-content {
    float: right;
    width: 50%;
  }

  #products .products-desc {
    float: left;
    width: 30%;
  }

  #products .product-inventory {
    float: right;
    width: 70%;
  }

  #products .product {
    float: left;
    width: 25%;
    margin: 0 1rem;
  }

  #services .service-card {
    float: left;
    width: 30%;
    text-align: center;
  }

  #contact .contact-details {
    float: left;
    width: 30%;
  }

  #contact .contact-form {
    float: right;
    width: 60%;
  }
}
