/* >576px styles */

@media screen and (min-width: 576px) {
  #skills .skill {
    float: left;
    width: 50%;
    text-align: center;
  }

  #products .product {
    float: left;
    width: 45%;
    margin: 0 1rem;
  }
}

/* >768px styles */
@media screen and (min-width: 768px) {
  #skills .skill {
    float: left;
    width: 25%;
    text-align: center;
  }

  #about .about-img-container {
    float: left;
    width: 50%;
  }

  #about .about-content {
    float: right;
    width: 50%;
  }

  #products .product {
    float: left;
    width: 25%;
    margin: 0 1rem;
  }
}
